.box2{

  width: 100%;
}  
.box{
    position: relative;
    width: 250px;
    top: 5px;
    right: 500px;
    height: 60px;

}
.table{
    position: relative;
    height:250px;
    width: 650px;
    bottom: 400px;
}
.container{
    position: relative;
    height: 50px;
    width: 48%;
    top: 60px;
}